.pad {
    text-align: center;
}


.asd img{
    border-radius: 10px;
    width: 480px;
    height: 500px;
}


.card-description {
    margin-top: 5em;
}

.card-description p {
    text-align: justify;
    font-size: 20px;
}